<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016. Dark Phoenixs (Open-Source Organization).
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <description>Sender Configuration</description>

    <!-- Kafka Message Encoder -->
    <bean id="encoder" class="org.darkphoenixs.kafka.codec.KafkaMessageEncoderImpl"/>

    <!-- Kafka Message Queue -->
    <bean id="destination" class="org.darkphoenixs.kafka.core.KafkaDestination">
        <constructor-arg value="QUEUE.TEST"/>
    </bean>

    <!-- Kafka Pool Connection -->
    <bean id="messageSenderPool" class="org.darkphoenixs.kafka.pool.KafkaMessageNewSenderPool"
          init-method="init" destroy-method="destroy">
        <property name="poolSize" value="10"/>
        <property name="config" value="kafka/newproducer.properties"/>
    </bean>

    <!-- Kafka Message Template -->
    <bean id="messageTemplate" class="org.darkphoenixs.kafka.core.KafkaMessageTemplate">
        <property name="messageSenderPool" ref="messageSenderPool"/>
        <property name="encoder" ref="encoder"/>
    </bean>

    <!-- Kafka Message MQProducer -->
    <bean id="messageProducer" class="org.darkphoenixs.kafka.producer.MessageProducer">
        <property name="messageTemplate" ref="messageTemplate"/>
        <property name="destination" ref="destination"/>
    </bean>

</beans>