<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <description>Receiver Configuration</description>

    <!-- Kafka Message Decoder -->
    <bean id="decoder" class="org.darkphoenixs.kafka.codec.KafkaMessageDecoderImpl"/>

    <!-- Kafka Message Queue -->
    <bean id="destination" class="org.darkphoenixs.kafka.core.KafkaDestination">
        <constructor-arg value="QUEUE.TEST"/>
    </bean>

    <!-- Kafka Message MQConsumer -->
    <bean id="messageConsumer" class="org.darkphoenixs.kafka.consumer.MessageConsumer">
    </bean>

    <!-- Kafka Message Listener -->
    <bean id="messageListener" class="org.darkphoenixs.kafka.listener.MessageConsumerListener">
        <property name="consumer" ref="messageConsumer"/>
    </bean>

    <!-- Kafka Message Adapter -->
    <bean id="messageAdapter" class="org.darkphoenixs.kafka.core.KafkaMessageAdapter">
        <property name="decoder" ref="decoder"/>
        <property name="messageListener" ref="messageListener"/>
        <property name="destination" ref="destination"/>
    </bean>

    <!-- Kafka Pool Connection -->
    <bean id="messageReceiverPool" class="org.darkphoenixs.kafka.pool.KafkaMessageReceiverPool"
          init-method="init" destroy-method="destroy">
        <property name="messageAdapter" ref="messageAdapter"/>
        <property name="config" value="kafka/consumer.properties"/>
        <property name="poolSize" value="10"/>
    </bean>

</beans>