<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <description>Sender Configuration</description>

    <!-- Pool Connection Factory -->
    <bean id="sendConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
          destroy-method="stop">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="maxConnections" value="100"/>
        <property name="maximumActiveSessionPerConnection" value="200"/>
    </bean>

    <!-- Queue Jms Template -->
    <bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="sendConnectionFactory"/>
        <property name="messageConverter" ref="messageConverter"/>
        <property name="explicitQosEnabled" value="true"/>
        <property name="sessionTransacted" value="false"/>
        <property name="deliveryPersistent" value="false"/>
    </bean>

    <!-- Queue Destination -->
    <bean id="sendDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${mq.sendDestinationName}"/>
    </bean>

    <!-- Message MQProducer -->
    <bean id="messageProducer" class="org.darkphoenixs.activemq.producer.MessageProducer">
        <property name="jmsTemplate" ref="queueJmsTemplate"/>
        <property name="destination" ref="sendDestination"/>
    </bean>

</beans>